<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szu.androidpractice">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/sample"
            android:name=".ui.SampleActivity">

        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>
